h2,
p {
	margin: 0;
}
/* Highlight key words with this tag */
b {
	font-weight: bold;
	color: #c7951f;
}

main {
	overflow: hidden;
}

.container-row {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;	
	min-height: 430px;
	box-shadow: inset 0 0 3px #000000;
}

.container-column {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	background-color: #161616;
	min-height: 200px;
	color: white;
	font-size: 1.5rem;
}

.introduction {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;		
	border: solid black;
	border-width: 5px 0px;
	height: 330px;
}

.introduction-bg {
	background-image: url(Images/banner.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	filter: blur(7px) grayscale(20%);
	height: 100%;
	z-index: -1;	
}

.introduction-text {
	position: absolute;	
	margin: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	align-self: center;
	max-width: 730px;
	font-size: 1.5rem;
	border-top: solid #ffee00 5px;
	border-bottom: solid black 5px;
	padding: 20px;
}

.special-offer {
	background-color: red;
	width: 40%;
	text-align: center;
}

.location {
	font-size: 2rem;
}

.location-text {
	max-width: 800px;
	color: #161616;
	margin: 10px 10px;
}

.location-img {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 300px;
	margin-bottom: 10px;
}

.location-img_marker {
	width: 10%;
	position: absolute;
	left: 43%;
	bottom: 55%;
	animation-duration: 1s;
}

.location-img_country {
	width: 100%;
}

.width-70perc {
	font-size: 2rem;
	text-align: center;
	width: 1150px;
	margin: 10px;
}

.hexagon {
	width: 330px;
	height: 270px;
	background-color: red;
	transform: rotate(120deg) !important;
	overflow: hidden;
	visibility: hidden;
	margin: 10px;
}

.hexagon-inside {
	width: 100%;
	height: 100%;
	background-color: green;
	transform: rotate(-60deg);
	overflow: hidden;
}

.hexagon-img {
	width: 100%;
	height: 100%;
	transform: rotate(-60deg);
	visibility: visible;
}

.fear-img {
	background-image: url(Images/common-carder-bee.jpg);
	background-position: 70% 0%;
}

.fear-text {
	width: 800px;
	color: #161616;
	padding: 10px;
	font-size: 2rem;
	margin-bottom: 10px;
}

.services ul {
	text-align: start;
	margin: 0;
	margin-top: 10px;
}

.services li {
	line-height: 35px;
}

.services li:first-child {
	margin-bottom: 10px;
}

.everyone {
	text-align: center;
	font-weight: bold;
	font-size: 2.2rem;
	align-self: center;
}

.everyone b {
	font-weight: bolder;
}

.bees-info {
	font-size: 1.5rem;
	text-align: center;
	max-width: 1100px;
	padding: 10px;
}

.mapouter {
	display: none;
	z-index: 1;
	position: fixed;
	text-align: right;
	height: 800px;
	width: 900px;
	top: 20%;
	left: 20%;
}
.gmap_canvas {
	overflow: hidden;
	background: none !important;
	height: 800px;
	width: 900px;
}

.location-img:hover .mapouter {
	display: block;
}

@media (max-width: 1538px) {
	.fear-2 {
		display: none;
	}

	.fear-text {
		width: 70%;
	}
}

@media (max-width: 1085px) {
}

@media (max-width: 916px) {
	.fear-text {
		width: 90%;
	}
}

@media (max-width: 698px) {
	html,
	body {
		font-size: 12px;
	}
	.location-img {
		width: 50%;
	}
	.hexagon {
		width: 300px;
		height: 240px;
	}
	.services {
		font-size: 1.6rem;
		padding: 10px 0px;
	}
	.services ul {
		padding-left: 20px;
		margin: 0px;
	}
	.services li {
		line-height: 25px;
	}
}
