main {
	overflow: hidden;
}

.container-row {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	padding: 10px;
	box-shadow: inset 0 0 3px #000000;	
}

.container-column {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	background-color: #161616;	
	color: white;
	font-size: 1.5rem;
	padding: 10px;
}

.introduction {
	text-align: center;
	max-width: 900px;
	font-size: 1.5rem;
}

.introduction h2 {
	margin: 10px;
}

.team-gallery {
	display: flex;
	max-width: 1150px;
	flex-wrap: wrap;
	justify-content: center;
}

.pic {
	margin: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-basis: 31%;
}

.hexagon {
	width: 330px;
	height: 270px;
	background-color: red;
	transform: rotate(120deg) !important;
	overflow: hidden;
	visibility: hidden;
	margin: 10px;
}

.hexagon-inside {
	width: 100%;
	height: 100%;
	background-color: green;
	transform: rotate(-60deg);
	overflow: hidden;
}

.hexagon-img {
	width: 100%;
	height: 100%;
	transform: rotate(-60deg);
	visibility: visible;
}

.andrew-davies {
	background-image: url(../../Images/andrew-davies.jpeg);
	background-position: 50% 8%;
}

.vittoria-luoni {
	background-image: url(../../Images/vittoria-luoni.jpeg);
	background-position: 50% 25%;
}

.john-mackfield {
	background-image: url(../../Images/john-mackfield.jpeg);
	background-position: 50% 0%;
}

.seb-williams {
	background-image: url(../../Images/seb-williams.jpeg);
	background-position: 55% 0%;
}

.tracey-fother-dunleavy {
	background-image: url(../../Images/tracey-fother-dunleavy.jpeg);
	background-position: 60% 60%;
	background-size: 90%;
}

.rosie-the-dog {
	background-image: url(../../Images/rosie.jpeg);
	background-position: 50% 50%;
	background-size: 130%;
}

.pic b {
	text-decoration: underline;
}

.pic p {
	margin: 5px;
}
