body {
	margin: 0;
	background-color: #f3f3f3;
	font-family: Arial, Helvetica, sans-serif;
	overflow-x: hidden;
}

footer {
	padding: 10px;
	text-align: center;
	background-color: #ffcc00;
	border-top: solid black 1px;
}

::-webkit-scrollbar {
	background-color: #1f1f1f;
}

::-webkit-scrollbar-thumb {
	background-color: #868686;
}

@media (max-width: 698px) {
	header {
		height: 80px;
	}
	header a {
		margin: 0;
	}
	header a:last-child {
		margin-top: 5px;
	}
	header p {
		display: none;
	}
	nav {
		height: 90px;
	}
}

@media (max-width: 1200px) {
	.logo {
		width: 180px;
		top: 43px;
		left: 10px;
	}	
	.nav-buttons {
		visibility: hidden;		
	}
	.hamburger:hover .nav-buttons {
		display: flex;
	}
}



