header {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: flex-end;
	border-bottom: solid black 1px;
	height: 90px;
	font-size: 1.5rem;
	padding: 5px;
}

header img {
	width: 40px;
}

header a {
	display: flex;	
	align-items: center;	
	margin: 0 5px;
	color: #646464;
	text-decoration: none;
}

header p {
	display: flex;
}

nav {
	display: flex;
	flex-direction: row;
	background-color: #ffcc00;
	height: 100px;
	box-shadow: black 1px 1px 5px 1px;	
}

.logo {
	width: 260px;
	position: absolute;
	top: 20px;
	left: 60px;	
}

.logo-img {	
	transition: 0.5s;
	width: 100%;
}

.logo:hover {
	transition: 0.5s;
	transform: scale(1.05);
}

.logo-text {
	width: 200px;
	top: 100px;
	left: 100px;
	position: absolute;
	transform: rotate(-14deg) skew(-8deg);
	color: black;
}

.mobile-button {
	display: none;
}

@media (max-width: 698px) {
	header a {
		margin: 0;
	}
	header a:last-child {
		margin-top: 5px;
	}
	header p {
		display: none;
	}
}

@media (max-width: 1200px) {
	header {
		height: 80px;
	}

	nav {
		height: 90px;
	}
	.logo {
		
		top: 30px;
		left: 40px;
	}

	.logo-img {
		width: 75%;
	}
	.logo-text {
		font-size: 12px;
		top: 75px;
		left: 75px;
	}
}
