.about,
.about-1 {
	background-color: rgba(0, 0, 0, 0.2);	
}

.container-row {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;	
	min-height: 430px;
	padding: 10px;
}

.container-column {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	background-color: #161616;
	min-height: 200px;
	color: white;
	font-size: 1.5rem;
	box-shadow: inset 0 0 3px #000000;
	padding: 10px; 
}

b {
	font-weight: bold;
	color: #c7951f;
}

h2,
h3,
p {
	margin: 0;
}

.setup_info {
	font-size: 2rem;
	text-align: center;
}

.services {
	background-color: rgba(255, 230, 0, 0);
}

.services-list {
	font-size: 1.8rem;
	color: #161616;
	padding: 10px;
}

.services-list h3 {
	margin: 0px;
	text-decoration: underline;
}

.services-list ul {
	margin: 0;
	padding: 20px;
}

.gallery {
	display: flex;
	flex-direction: column;
	padding: 30px 0;
	background-color: #161616;
}

/* This style is temporary */
.gallery-img {
	width: 1050px;
}

.join-us {
	text-align: center;
	background-color: rgba(255, 230, 0, 0);
}

.join-us h2 {
	margin-bottom: 5px;
}

.join-us-text {
	font-size: 1.8rem;
	margin: 0;
	color: #161616;
	padding: 10px;
}

.max-width {
	width: 1150px;
}

@media (max-width: 698px) {
	html,
	body {
		font-size: 12px;
	}
}
